In [77]:
import pandas as pd

In [78]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer 
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\lowa02\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [79]:
sid = SentimentIntensityAnalyzer()

In [80]:
from datetime import datetime

In [81]:
from dateutil.parser import parse

In [82]:
wc_df = pd.read_csv("https://raw.githubusercontent.com/solaojp/DATA-620/master/Fifa.csv", header=None, encoding='utf-8')

In [83]:
wc_df.head()

               0                                                  1
0  7/11/18 15:27  b"@Hartwell_co_uk They're goddamn right it is!...
1  7/11/18 15:27  b"@Hartwell_co_uk They're goddamn right it is!...
2  7/13/18 15:33  b'Here @sandwellroads we\xe2\x80\x99ll be chee...
3  7/13/18 15:33  b'RT @CoveBilly: This was the nuts!! \xf0\x9f\...
4  7/13/18 15:33  b'RT @16AirAssltBde: #ItsComingHome \nStill to...

In [84]:
wc_df.columns = ['date','tweet']

In [85]:
wc_df['sentiment'] = [sid.polarity_scores(tweet)["compound"] for tweet in wc_df['tweet']]

In [86]:
wc_df.head()

            date                                              tweet  sentiment
0  7/11/18 15:27  b"@Hartwell_co_uk They're goddamn right it is!...    -0.5255
1  7/11/18 15:27  b"@Hartwell_co_uk They're goddamn right it is!...    -0.5255
2  7/13/18 15:33  b'Here @sandwellroads we\xe2\x80\x99ll be chee...     0.5106
3  7/13/18 15:33  b'RT @CoveBilly: This was the nuts!! \xf0\x9f\...    -0.4374
4  7/13/18 15:33  b'RT @16AirAssltBde: #ItsComingHome \nStill to...     0.0000

In [87]:
wc_df['date2'] = [word[:-6] for word in wc_df['date']]

In [88]:
wc_df['date2'][1]

'7/11/18'

In [89]:
wc_summary = wc_df.groupby('date2').mean()

In [90]:
wc_summary.head()

         sentiment
date2
7/11/18  -0.525500
7/12/18   0.130640
7/13/1    0.200492
7/13/18   0.207222